.lead__wrapper {
  max-width: 984px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 92px;

}


@media screen and (max-width: 1024px) {
  .lead__wrapper {
    padding: 0 48px;
  }
}


@media screen and (max-width: 768px) {
  .lead__wrapper {
    padding: 0;
    margin-bottom: 88px;
  }
}


@media screen and (max-width: 550px) {
  .lead__wrapper {
    margin-bottom: 64px;
  }
}



