.footer__copyright {
  margin: 0;
  margin-left: auto;
  font-size: 14px;
  line-height: 16px;
}



@media screen and (max-width: 720px) {
  .footer__copyright {
    flex-direction: column;
    margin: 0 0 24px;
    line-height: 14px;
  }
}
