.footer__copyright {
  margin: 0;
  margin-top: 3px;
  font-size: 14px;
  line-height: 16px;
}

@media screen and (max-width: 667px) {
  .footer__copyright {
    flex-direction: column;
    margin: 0 0 24px;
    line-height: 14px;
  }
}
