.header__languages {
  display: flex;
  width: 100%;
  max-width: 76px;
  margin-left: auto;
  margin-top: 19px;
}

@media screen and (max-width: 550px) {
  .header__languages {
    max-width: 62px;
    margin-top: 15px;
  }
}
