.landscape__photos {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px;
  margin: 0 48px;
  margin-bottom: 92px;
  padding: 0;
}

@media (max-width: 768px) {
  .landscape__photos {
    margin: 0 24px;
    margin-bottom: 88px;
  }

}

@media screen and (max-width: 631px) {
  .landscape__photos {
    margin: 0 auto;
    margin-bottom: 64px;
    grid-template-columns: 1fr;
  }
}

