.place__website {
  align-self: end;
  grid-row: 1;
  grid-column: 2;
}

@media screen and (max-width: 660px) {
  .place__website {
    align-self: start;
    order: 1;
    /* margin: 0 auto;* */
    padding: 0 48px;
  }
}

@media screen and (max-width: 425px) {
  .place__website {
    padding: 0 16px;
  }
}
